

/*******/
*, *::after,*::before{
    box-sizing: border-box;
}

:root{
    --color-bg:linear-gradient(294.28deg, #C8DCE6 0%, #B6CCDA 100%);

    --color-primary:#ABC6D6;

    --color-secondary:#404354;

    --color-accent:#EFF6FB;
    
    --color-body-text:hsl(201, 11%, 66%);
}

html{
    font-family: 'Poppins', sans-serif; 
    font-size:62.5%;

}

.page{
    display: flex;
    border: 3px solid brown;
    height: 100vh;
    /* height: -webkit-fill-available; */


    min-width: 320px;
    flex-direction: column;
    justify-content: space-between;
    
}


header{
    min-width:320px;
    border: 3px solid magenta;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:2rem;
    
}

.header__item{
    background-color: pink;
    border: 2px solid palevioletred;
    display: inline-block;
    
}


main{
    min-width:320px;
    min-height: 90%;
    border:3px solid darkblue;
    background-color: lightsalmon;
}

.hero__item{
    background-color: lightskyblue;
    border: 2px solid darkcyan;
    display: inline-block;
}

.hero{
    display: flex;
    flex-direction: column;
    padding:2rem;
}

footer{
    min-width: 320px;
    border:3px solid darkgreen;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    min-height:10%;
}

.footer__item{
    background-color: lightgreen;
    border: 2px solid green;
    display: inline-block;

}

@media screen and (min-width:414px){

    footer{

        flex-direction: column;
        min-width:10%;
        
    }

    main{
        min-width: 90%;
    }

    .page{
        flex-direction: row-reverse;
        justify-content: flex-end;
    }

}