

/*******/
*, *::after,*::before{
    box-sizing: border-box;
}

:root{
    --color-bg:linear-gradient(294.28deg, #C8DCE6 0%, #B6CCDA 100%);

    --color-primary:#ABC6D6;

    --color-secondary:#404354;

    --color-accent:#EFF6FB;
    
    --color-body-text:hsl(201, 11%, 66%);
}

html{
    font-family: 'Poppins', sans-serif; 
    font-size:62.5%;

}

.page{
    display: flex;
    border: 3px solid brown;
    height: 100vh;
    /* height: -webkit-fill-available; */


    min-width: 320px;
    flex-direction: column;
    justify-content: space-between;
    
}


header{
    min-width:320px;
    border: 3px solid magenta;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:2rem;
    
}

.header__item{
    background-color: pink;
    border: 2px solid palevioletred;
    display: inline-block;
    
}


main{
    min-width:320px;
    min-height: 90%;
    border:3px solid darkblue;
    /* background-color: lightsalmon; */
    padding:2rem;
    background: var(--color-bg);
    border-radius: 0px 0px 25px 25px;
}

.hero__item{
    background-color: lightskyblue;
    border: 2px solid darkcyan;
    display: inline-block;
}

.hero{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    justify-content: space-between;
    align-items: center;
}



footer{
    min-width: 320px;
    border:3px solid darkgreen;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    min-height:10%;
}

.footer__item{
    background-color: lightgreen;
    border: 2px solid green;
    display: inline-block;

}

.title{
    font-size: 1.3rem;
    color:#fff;
    max-width: 310px;
}

.title-normal{
    font-weight: normal;
}

.btn{
    outline: none;
    border:0;
    cursor: pointer;
    border-radius:2.2rem;
    font-size: 1.5rem;
    color: white;
    
    background:transparent;
    padding:1rem;
    width:120px;
    height: 40px;
    border:2px solid #fff;
    margin-top:2rem;
}

.watch-combo{
    
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 2rem;
    left: -2rem;
}

.watch{
    height: 245px;
    width: 245px;
}

.color-indicator{
    height: 162px;
    width: 30px;
   
}

.ellipse{
    
    position: relative;
    top: -3rem;
    height: 90px;
}

.main__footer{
    display: none;
    opacity: 0;
}

/* footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
} */

.socials-list-vertical{
    display: none;
    opacity: 0;
}

.socials-list{

    display: initial;
    opacity: 1;
}

.nav{
    display: none;
    
}

 /* Search */ 
 /* .section-search .collapsible--expanded .collapsible__content
 { 
    max-height: 0; 
    opacity: 0; } 
 
 .section-search .collapsible--expanded .collapsible__icon
 { 
    max-height: 0; 
    opacity: 0; }


    .search-icon-mobile
    { max-height: 0;
      opacity: 0; }  */

    .search
    { 
      width:13rem; 
      display:inline-block; }

    .search input{ 
        min-width: 12.5rem; 
        max-width: 12.5rem; 
        height: 2.5rem;
        border-radius: 10rem; 
        border:0; 
        outline: none; 
        background: rgba(255, 255,255, 0.27); 
        padding-left:2.1rem;
        color:#fff; 
        font-size: 1.2rem; 
        font-weight:400; 
        position: relative;
        left: 4rem;
        top: 1.2rem;} 
        
    input::placeholder{ 
        color:#fff; 
        font-weight: 400;
     } 
     
    .search-icon{
        clip-path: polygon(0 0, 38% 0, 38% 100%, 0% 100%); 
        position: relative;
        left: 30rem;
        top: -18px;
        cursor: pointer; 
    } 
    
    .section-search .collapsible--expanded .collapsible__content
    { 
        max-height: 100vh; 
        opacity: 1;
 } 
 
   .section-search .collapsible--expanded .collapsible__icon{ 
    max-height:100vh; 
    opacity: 1; } 



/* Collapsibles */ 

 .collapsible__icon{ 
 }

 .section-search{ 
    /* width:400px;  */
    /* margin-right:-5rem; */
    display: flex;
    align-items: center;
   
    gap:0.1rem;
    border: 2px solid black; } 
    
 .collapsible__content{
    max-height: 0; 
    opacity: 0; } 
    
 .collapsible--expanded .collapsible__content{
    max-height: 100vh; 
    opacity:1; } 
    
.collapsible--expanded .collapsible__icon{
    clip-path: polygon(44% 0, 100% 0, 100% 100%, 44% 100%);
    /* position: absolute;
    opacity:1; top: 30px; right: 10px;  */
} 

@media screen and (min-width:583px){

    /* .search
    { 
      width:30rem; 
      }

    .search input{ 
        width: 29.5rem; 
        height: 3.5rem;
        font-size: 1.4rem; 
}  */

    .nav{
      
        opacity: 1;
        display: flex;
        flex-direction: row;
        gap:4rem;
        justify-content: center;
        border: 2px solid darkgray;
        position: relative;
        left:-1rem;
    }
    
    .nav__item{
        list-style: none;
    }

    .nav__item a {
        text-decoration: none;
        color:#fff;
        font-size: 1.8rem;
        font-weight: 500;
        padding:0.2rem;
        padding-left:1rem;
        padding-right:1rem;
        

    }

    .nav__item a:hover{
        background-color: #fff;
        color: var(--color-primary);
        border-radius: 100px;
        
    }

    footer{

        flex-direction: column;
        min-width:10%;
        
    }

       
.socials-list-vertical{
    display: initial;
    opacity: 1;
}

.socials-list{

    display: none;
    opacity: 0;
}

    main{
        min-width: 90%;
        border-radius: 15px 0px 0px 15px;
    }

    .page{
        flex-direction: row-reverse;
        justify-content: flex-end;
    }

    .title{
        font-size: 2.3rem;
        
        max-width:514px;
        margin-top: 3rem;
      
    }

    .btn{
        margin-top:0.5rem;
        width:170px;
        height: 45px;
    }

    .hero__image{
        position: relative;
        top:-2rem;
    }



}

@media screen and (min-width:584px) and (max-width:1030px)
{

.nav{
    display: none;
}

}


@media screen and (min-width:415px) and (max-width:582px)
{

    footer{

        flex-direction: column;
        min-width:10%;
        
    }

    main{
        min-width: 90%;
    }

    .page{
        flex-direction: row-reverse;
        justify-content: flex-end;
    }


    .title{
        font-size: 1.5rem;
        max-width: 327px;
       
    }

    /* .btn{
        width:120px;
        height: 45px;
    } */


}


@media screen and (min-width:1083px)
{

    .hero{
        flex-direction: row;
        align-items: flex-start;
    }

    .watch{
        height:380px;
        width: 400px;
    }

    .ellipse{
        left: 5rem;
    }


    .main__footer{
        display: initial;
        opacity: 1;
        display: flex;
        justify-content: space-between;
        padding:2rem;
        align-items: center;
        position: relative;
        top: -10rem;
    }
    
    .page-indicator{
        width: 80px;
        height: 25px;
    }
    
    .watch-images{
        display: flex;
        gap:1rem;
    }
    
    
    .watch-images img{
        width:100px;
        height:80px;
    }
}

@media screen and (min-width:1200px)
{
    .search
    { 
      min-width:30rem; 
      }

    .search input{ 
        min-width: 29.5rem; 
        height: 3.5rem;
        font-size: 1.4rem; 
} 
}

@media screen and (min-width:1250px)
{

    .title{
        font-size: 2.7rem;
        
        max-width:700px;
      
    }

    .btn{
        margin-top:0.5rem;
        width:200px;
        height: 48px;
    }
}