*, *::after,*::before{
    box-sizing: border-box;
}

:root{
    --color-bg:linear-gradient(294.28deg, #C8DCE6 0%, #B6CCDA 100%);

    --color-primary:#ABC6D6;

    --color-secondary:#404354;

    --color-accent:#EFF6FB;
    
    --color-body-text:hsl(201, 11%, 66%);
}

.site-body{
    border:2px solid pink;
    min-width: 320px;
    display: flex;
    flex-direction:column;

}

.main, .footer{
    min-width: 320px;
    /* max-width: 414px; */
    border:2px solid green;
}

.main{
    /* min-height: 815px; */
}

.footer{
    min-height: 81px;
}

@media screen and (min-width:1024px)
{
    .site-body{
        flex-direction: row-reverse;
        /* max-width: 1340px; */
        justify-content: flex-end;
        align-items: flex-start;
        min-width:650px;
    }

    .main,.footer{
        /* min-height:900px ; */
    }

    .footer{
        min-width:100px;
        max-width:100px;
        
    }

    .main{
        min-width:650px;
        /* max-width:1340px; */
        

    }
}

.main{
    
}

.logo{
    height: 50px;
    width: 40px;



}


.search{
    height: 24px;
    width: 88px;
}

.hero{
    display: flex;
    flex-direction: column;
}

.hero__content{
    height: 242px;
    min-width: 320px;

}

.hero__image{
    height: 251px;
    min-width: 312px;
}

.main__item{
    
}

.hero__item{
    border: 2px solid purple;

}

.header__item{
    border:2px solid blue;
}

header{
    display: flex;
    justify-content: space-between;
    
}

.footer{
    display: flex;
    justify-content: space-between;
}

.footer__item{
    border:2px solid yellow;
}



@media screen and (min-width:1024px)
{
    .hero{
        flex-direction: row;
    }

    .footer{
        flex-direction: column;
        justify-content: space-between;
    }
    
}