<div class="collapsible">
  <div class="menu collapsible__content">
    <ul>
      <li><a href="#">Mac</a></li>
      <li><a href="#">iphone</a></li>
      <li><a href="#">ipad</a></li>
      <li><a href="#">iwatch</a></li>
      <li><a href="#">Support</a></li>
    </ul>
  </div>

  <div class="banner">
    <div class="toggler">
      <img src="images/menu.png" alt="" class="collapsible__toggler" />
    </div>
    <div class="socials"><img src="images/Social Icon.png" alt="" /></div>
  </div>
</div>
<script src="js/main.js"></script>
